body {
  font-family: Arial, Verdana, Helvetica, sans-serif;
}

td, th {
  text-align: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.5em;

  border-bottom: 0.15em solid rgb(74, 73, 73);
  width: 95%;
  display: block;
}

h2 {
  border-bottom: 0.2em solid hsl(89, 43%, 51%);
  width: 80%;
  display: block;
}

p {
  font-size: 1.2em;
}

#site-header {
    box-shadow: 0px 10px 5px #27272780;
    -webkit-box-shadow: 0px 10px 5px #27272780;
    -moz-box-shadow: 0px 10px 5px #27272780;
    position: relative;
    z-index: 999999;
}

img.floatLeft {
  float: left;
  margin-top: -3em;
}

.topmargin1p4 {
  margin-top: 1.4em;
}

.topmargin2 {
  margin-top: 2em;
}

.margins {
  margin-top: 1em;
  margin-bottom: 0.6em;
}

td.category {
  text-align: left;
}

td.checkmark {
  background-image: url("resources/checkmark.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.8em;
}

td.crossmark {
  background-image: url("resources/crossmark.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.8em;

  text-align: bottom;
}

table.fixed {
  table-layout: fixed;
}

.card {
  display:inline-block;
}

div.alignCenter {
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar li {
float: left;
}

.navbar li a {
display: block;
color: white;
text-align: center;
padding: 30px 20px;
text-decoration: none;
}

.nacbar li img {
display: block;
padding: 20px 20px;
}
