body {
  font-family: Arial, serif;

  background-color: #1c1c1c;
  color: #ebebeb;

  counter-reset: section;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

em {
  font-weight: bold;
  font-style: normal;
}

h1 {
  font-size: 2em;
  counter-reset: subsection;
}

h1::before {
  counter-increment: section;
  content: counter(section) " ";
}

h2::before {
  counter-increment: subsection;
  content: counter(section) "." counter(subsection) " ";
}

h2 {
  border-bottom: 0.2em solid #b34700;
  width: 80%;
  display: block;

  margin-bottom: 0em;
}

p, dl {
  margin-top: 0.4em;
  font-size: 1.4em;
}

#headingImage {
  float: left;
  padding-left: 34em;
}

#heading {
  border-left: 0.2em solid #b34700;
  display: block;

  margin-top: 2.5em;
  margin-left: 41.5%;

  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#heading > p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

a {
  color: orange;
}

section {
  margin-left: 5em;
  margin-bottom: 5em;
}

.big {
  font-size: 2em;
  font-weight: bold;
}
